{#
 * This file is part of the YesWiki Extension hpf.
 *
 * Authors : see README.md file that was distributed with this source code.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 * Feature UUID : hpf-import-payments
 *#}

<h2>{{ _t('HPF_IMPORT_MEMBERSHIPS_TITLE') }}</h2>

{% if error is not empty %}
  {{ include('@templates/alert-message.twig',{type:'danger',message:error})|raw }}
{% endif %}

{% if data is empty %}
    <form method="post" enctype="multipart/form-data">
        <div class="control-group form-group input-file">
            <label class="control-label col-sm-3">
                <span class="symbole_obligatoire"></span>
                {{ _t('HPF_IMPORT_MEMBERSHIPS_LABEL') }}
            </label>
            <div class="controls col-sm-9">
                <div class="input-group">
                    <input
                        type="file"
                        id="file"
                        name="file"
                        class="form-control"
                        accept=".csv,.xls,.xlsx,.ods"
                    />
                </div>
            </div>
        </div>
        <div class="form-actions form-group">
            <div class="col-sm-9 col-sm-offset-3">
                <button type="submit" class="btn btn-primary">{{ _t('BAZ_VALIDER') }}</button>
            </div>
        </div>
    </form>
{% else %}
    {{ include_css('styles/vendor/datatables-full/dataTables.bootstrap.min.css') }}
    {{ include_css('tools/bazar/presentation/styles/tableau.css') }}
    {{ include_javascript('javascripts/vendor/vue/vue.js') }}
    {{ include_javascript('javascripts/vendor/datatables-full/jquery.dataTables.min.js') }} 
    {{ include_javascript('tools/hpf/javascripts/hpf-import-memberships-action.js',false,true) }}

    <b>{{ _t('HPF_IMPORT_DATA_FROM',{file:fileName}) }}</b><a 
        class="btn btn-xs btn-info btn-icon"
        href="{{ url({params:{}}) }}"
        title="{{ _t('HPF_IMPORT_OTHER_FILE') }}"
    ><i class="fas fa-file-signature"></i></a><br/>
    
    <div class="dynamic-hpf-import-memberships-action">
        <hpf-import-table data-values="{{ data|json_encode }}" v-model="isLoading" data-params="{{ params|json_encode }}">
            <template #taddress>{{ _t('HPF_ADDRESS') }}</template>
            <template #taddresscomp>{{ _t('HPF_ADDRESS_COMP') }}</template>
            <template #tadjustedmembership>{{ _t('HPF_ADJUSTED') }}</template>
            <template #tcreateentry>{{ _t('HPF_CREATE_ENTRY') }}</template>
            <template #tcomment>{{ _t('HPF_COMMENT') }}</template>
            <template #tdate>{{ _t('HPF_DATE') }}</template>
            <template #temail>{{ _t('HPF_EMAIL') }}</template>
            <template #tfirstname>{{ _t('HPF_FIRSTNAME') }}</template>
            <template #tfreemembership>{{ _t('HPF_FREE') }}</template>
            <template #tgroupmembership>{{ _t('HPF_GROUP_MEMBERSHIP') }}</template>
            <template #tgroupname>{{ _t('HPF_GROUP_NAME') }}</template>
            <template #tmembershiptype>{{ _t('HPF_MEMBERSHIP_TYPE') }}</template>
            <template #tpersonalmembership>{{ _t('HPF_PERSONAL_MEMBERSHIP') }}</template>
            <template #tisgroup>{{ _t('HPF_IS_GROUP') }}</template>
            <template #tname>{{ _t('HPF_NAME') }}</template>
            <template #tnumber>{{ _t('HPF_PAYMENT_NUMBER') }}</template>
            <template #tstandardmembership>{{ _t('HPF_STANDARD') }}</template>
            <template #tsupportmembership>{{ _t('HPF_SUPPORT') }}</template>
            <template #tpostalcode>{{ _t('HPF_POSTAL_CODE') }}</template>
            <template #ttown>{{ _t('HPF_TOWN') }}</template>
            <template #tvalue>{{ _t('HPF_VALUE') }}</template>
            <template #tyear>{{ _t('HPF_YEAR') }}</template>
        </hpf-import-table>
        <spinner-loader v-if="isLoading" class="overlay super-overlay" :height="500"></spinner-loader>
    </div>
{% endif %}