{#
 * This file is part of the YesWiki Extension hpf.
 *
 * Authors : see README.md file that was distributed with this source code.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 * Feature UUID : hpf-receipts-creation
 *
 * generate HTML needed to generate pdf for receipts
 *#}

<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width" />

        <title>{{ structureInfo.name ?? '<Nom de la structure>' }} : reçu du paiement {{paymentId}}</title>

        {# <link rel="stylesheet" href='styles/file.css'> #}
        <style>
          {% block style %}
            h1{
                text-align: center;
                font-size: large;
            }
            .logo {
                max-height: 80px;
                max-width: 100%;
                margin-bottom: 10px;
            }
            .logo img {
                max-height: 80px;
                width: auto;
            }
          {% endblock style %}
        </style>
    </head>

    <body>
        <h1>{% block title %}Reçu du paiement {{paymentId}}{% endblock title %}</h1>

        {% block logo %}
            {# <div class="logo">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAIAAAAC64paAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAEnQAABJ0Ad5mH3gAAAAeSURBVDhPY3gro0I2GtVMIhrVTCIa1UwiGnmaZVQAKzLWYLcYEB8AAAAASUVORK5CYII=" alt="logo de l'organisation"/>
            </div> #}
        {% endblock logo %}

        <div class="payment-number">
          {% block paymentNumber %}
            Reçu n°{{paymentId}}<br/>
            <span class="payment-date">
                Daté d'émission : {{ "now"|date("d/m/Y") }}
            </span>
          {% endblock paymentNumber %}
        </div>

        <div class="payment-destination">
          {% block paymentDestination %}
          {% endblock paymentDestination %}
        </div>
    </body>
</html>