{#
 * This file is part of the YesWiki Extension hpf.
 *
 * Authors : see README.md file that was distributed with this source code.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 * Feature UUID : hpf-receipts-creation
 *
 * generate HTML needed to generate pdf for receipts
 *#}

<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width" />

        <title>{{ structureInfo.name ?? '<Nom de la structure>' }} : reçu du paiement {{paymentId}}</title>

        {# <link rel="stylesheet" href='styles/file.css'> #}
        <style>
          {% block style %}
            h1{
                text-align: center;
                font-size: large;
            }
          {% endblock style %}
        </style>
    </head>

    <body>
        <h1>{% block title %}Reçu du paiement {{paymentId}}{% endblock title %}</h1>

        <div class="payment-number">
          {% block paymentNumber %}
            Reçu n°{{paymentId}}<br/>
            <span class="payment-date">
                Daté d'émission : {{ "now"|date("d/m/Y") }}
            </span>
          {% endblock paymentNumber %}
        </div>

        <div class="payment-destination">
          {% block paymentDestination %}
          {% endblock paymentDestination %}
        </div>
    </body>
</html>