{#
 * This file is part of the YesWiki Extension hpf.
 *
 * Authors : see README.md file that was distributed with this source code.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 *#}

{{ include_javascript('javascripts/vendor/vue/vue.js') }}
{{ include_javascript('tools/hpf/javascripts/vendor/vuejs-datepicker/vuejs-datepicker.min.js') }}
{{ include_javascript('tools/hpf/javascripts/vendor/vuejs-datepicker/translations.min.js') }}
{{ include_javascript('tools/hpf/javascripts/register-payment-action.js',false,true) }}

<div class="dynamic-hpf-register-payment-action" data-params="{{ params|json_encode }}">
    <h2>{{ _t('HPF_REGISTER_A_PAYMENT') }}</h2>
    {# Choix du formulaire #}
    {% set field = {type:'registerPaymentSelectForm',label:_t('HPF_REGISTER_PAYMENT_FORM')} %}
    {% set propName = 'registerPaymentSelectForm' %}
    {% embed "@bazar/layouts/input.twig" %}
        {% block input %}
            <select
                id="{{ propName }}"
                name="{{ propName }}"
                class="form-control"
                v-model="selectedForm"
                :disabled="refreshing"
            >
                <option value='' :selected="!selectedForm">{{ _t('BAZ_CHOISIR') }}</option>
                <option v-for="(formName,formId) in params?.formsids" :value="formId">{{"{{ formId }} - {{ formName }}"}}</option>
            </select>
        {% endblock %}
    {% endembed %}
    <div v-if="selectedForm?.length > 0">
        <b><i>Recherche de la fiche</i></b><br/>
        <div class="row-fluid row">
            <div class="col-md-4">
                {% set field = {type:'test',subType:'text',label:'Nom',hint:'facultatif'} %}
                {% set propName = 'text' %}
                {% embed "@bazar/layouts/input.twig" %}
                    {% block input %}
                        <input
                            type="text"
                            class="form-control input-xxlarge"
                            v-model="searchedName"
                            :disabled="refreshing"
                        >
                    {% endblock %}
                {% endembed %}
            </div>
            <div class="col-md-4">
                {% set field = {type:'test',subType:'text',label:'Prénom',hint:'facultatif'} %}
                {% set propName = 'text' %}
                {% embed "@bazar/layouts/input.twig" %}
                    {% block input %}
                        <input
                            type="text"
                            class="form-control input-xxlarge"
                            v-model="searchedFirstName"
                            :disabled="refreshing"
                        >
                    {% endblock %}
                {% endembed %}
            </div>
            <div class="col-md-4">
                {% set field = {type:'test',subType:'email',label:'E-mail',hint:'facultatif'} %}
                {% set propName = 'text' %}
                {% embed "@bazar/layouts/input.twig" %}
                    {% block input %}
                        <input
                            type="email"
                            class="form-control input-xxlarge"
                            v-model="searchedEmail"
                            :disabled="refreshing"
                        >
                    {% endblock %}
                {% endembed %}
            </div>
        </div>
    </div>
    <div v-if="notSearching && (searchedEmail.length > 0 || searchedFirstName.length > 0 || searchedName.length > 0)">
        <div v-if="Object.keys(currentResults).length === 0">
            {{ include('@templates/alert-message.twig',{type:'warning',message:'Aucune fiche ne correpond'}) }}
        </div>
        <div v-else>
            <table class="table prevent-auto-init table-condensed display">
                <thead>
                    <tr>
                        <th>Sélection</th>
                        <th>Fiche</th>
                        <th>Titre</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(entry,entryId) in currentResults">
                        <td @click="selectEntry(entry?.id_fiche)"><input type="checkbox" :checked="selectedEntryId === entry?.id_fiche"><span></span></td>
                        <td><a :href="wiki.url(entry?.id_fiche)" class="newtab">{{"{{ entry?.id_fiche }}"}}</a></td>
                        <td>{{"{{ entry?.bf_titre }}"}}</td>
                        <td>{{"{{ entry?.bf_prenom }}"}}</td>
                        <td>{{"{{ entry?.bf_nom }}"}}</td>
                        <td>{{"{{ entry?.bf_mail }}"}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <template v-if="selectedEntryId">
        <hr/>
        <div>
            <h3>Fiche sélectionnée '{{"{{selectedEntryId}}"}}'</h3>
            {% for fieldName,data in {
                bf_annees_adhesions_payees:['Années d\'adhésion','bf_adhesion_payee_','Adhésion pour '],
                bf_annees_adhesions_groupe_payees:['Années d\'adhésion groupe','bf_adhesion_groupe_payee_','Adhésion groupe pour '],
                bf_annees_dons_payes:['Années dons','bf_dons_payes_','Dons pour ']
            } %}
                {% set stringForYears = "extractValue(cacheEntries?.[selectedEntryId],'#{fieldName}')" %}
                <div v-if="{{stringForYears}}?.length > 0">
                    <b>{{ data[0] }}</b> : {{"{{#{stringForYears}}}"}}
                </div>
                <template v-for="step in 6">
                    {% set stringForValues = "extractValue(cacheEntries?.[selectedEntryId],`#{data[1]}${2021 + step}`)" %}
                    <div v-if="{{stringForValues}}?.length > 0">
                        <b>{{ data[2] }}{{"{{2021 + step}}"}}</b> : {{"{{#{stringForValues}}}"}} €
                    </div>
                </template>
            {% endfor %}
            <template v-if="Object.keys(extractPayments(cacheEntries?.[selectedEntryId])).length > 0">
                <hr>
                <h4>Paiements</h4>
                <table class="table prevent-auto-init table-condensed display">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Identifiant</th>
                            <th>Date</th>
                            <th>Valeur</th>
                            <th>Type</th>
                            <th>Affectation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(payment,paymentId) in extractPayments(cacheEntries?.[selectedEntryId])">
                            <td>
                                <button class="btn btn-danger btn-sm btn-icon" @click="deletePayment(selectedEntryId,paymentId)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                            <td>{{"{{ paymentId }}"}}</td>
                            <td>{{"{{ payment?.date }}"}}</td>
                            <td>{{"{{ payment?.total ?? 0 }}"}} €</td>
                            <td>{{"{{ payment?.origin }}"}}</td>
                            <td>
                              {% for keyName,title in {
                                adhesion:'Adhésion',
                                adhesion_groupe:'Adhésion groupe',
                                don:'Dons'
                              } %}
                                <template v-if="payment?.{{keyName}} && Object.keys(payment?.{{keyName}}).length > 0">
                                    <span v-for="(valueYear,keyYear) in payment.{{keyName}}">
                                        {{title}} {{"{{keyYear}}"}} : {{"{{valueYear}}"}} €;
                                    </span>
                                </template>
                              {% endfor %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </template>
            <hr/>
            <div><b>Ajouter un paiement</b></div>
            <div class="row-fluid row">
                <div class="col-md-3">
                    {% set field = {type:'test',subType:'text',label:'Valeur (€)'} %}
                    {% set propName = 'text' %}
                    {% embed "@bazar/layouts/input.twig" %}
                        {% block input %}
                            <input
                                type="text"
                                class="form-control input-xxlarge"
                                v-model="newPayment.total"
                                form="unknown-id"
                                pattern="[0-9]+([.,][0-9]{1,2})?"
                                :disabled="refreshing"
                            >
                        {% endblock %}
                    {% endembed %}
                </div>
                <div class="col-md-3">
                    Date : <vuejs-datepicker 
                                :format="customFormatterDate" 
                                :typeable="true" 
                                :name="`datepicker-payment`" 
                                :monday-first="true"
                                :language="datePickerLanguage"
                                wrapper-class="datepicker-container"
                                :value="newPayment.date"
                                @selected="(date)=>{if(date !== null){newPayment.date=customFormatterDate(date)}}">
                            </vuejs-datepicker> ({{ "{{ customFormatterDate(newPayment.date,'fr') }}" }})
                    </div>
                <div class="col-md-3">
                    {# Choix du type #}
                    {% set field = {type:'registerPaymentSelectType',label:'type'} %}
                    {% set propName = 'registerPaymentSelectType' %}
                    {% embed "@bazar/layouts/input.twig" %}
                        {% block input %}
                            <select
                                id="{{ propName }}"
                                name="{{ propName }}"
                                class="form-control"
                                v-model="newPayment.origin"
                                :disabled="refreshing"
                            >
                                <option value='' :selected="!newPayment.origin">{{ _t('BAZ_CHOISIR') }}</option>
                                <option value="virement">virement</option>
                                <option value="helloasso">helloasso</option>
                                <option value="cheque">cheque</option>
                                <option value="structure">structure</option>
                                <option value="espece">espece</option>
                            </select>
                        {% endblock %}
                    {% endembed %}
                </div>
                <div class="col-md-3">
                    <button
                        class="btn btn-sm btn-success btn-icon"
                        @click="addNewPayment"
                        :disabled="!canAddPayment">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="row-fluid row">
                <div class="col-md-3">
                    {# année adhésion #}
                    {% set field = {type:'registerPaymentSelectYear',label:'Année d\'ahésion',hint:'Facultatif uniquement si nécessaire'} %}
                    {% set propName = 'registerPaymentSelectYear' %}
                    {% embed "@bazar/layouts/input.twig" %}
                        {% block input %}
                            <select
                                id="{{ propName }}"
                                name="{{ propName }}"
                                class="form-control"
                                v-model="newPayment.year"
                                :disabled="refreshing"
                            >
                                <option value='' :selected="!newPayment.year">{{ _t('BAZ_CHOISIR') }}</option>
                                <option v-for="idx in 6" :value="2021 + idx">{{"{{2021 + idx}}"}}</option>
                            </select>
                        {% endblock %}
                    {% endembed %}
                </div>
                <div class="col-md-6">
                    <template v-if="newPayment.origin !== 'helloasso'">
                        {% set field = {type:'test',subType:'text',label:'Id'} %}
                        {% set propName = 'text' %}
                        {% embed "@bazar/layouts/input.twig" %}
                            {% block input %}
                                <input
                                    type="text"
                                    class="form-control input-xxlarge"
                                    v-model="newPayment.id"
                                    form="unknown-id"
                                    pattern=".+"
                                    :disabled="refreshing"
                                >
                            {% endblock %}
                        {% endembed %}
                        <div v-if="newPayment.id && !canUseId" class="alert alert-danger">Identifiant déjà utilisé !</div>
                    </template>
                    <template v-else>
                        <spinner-loader v-if="availableIds === null" class="overlay" :height="10"></spinner-loader>
                        <template v-else-if="Object.keys(availableIds).length === 0">
                            <div class="alert alert-info">Aucun paiment HelloAsso ne correspond.</div>
                        </template>
                        <template v-else>
                            {# Choix de l'id #}
                            {% set field = {type:'registerPaymentSelectHelloAssoId',label:'Id',hint:'provenant de HelloAsso'} %}
                            {% set propName = 'registerPaymentSelectHelloAssoId' %}
                            {% embed "@bazar/layouts/input.twig" %}
                                {% block input %}
                                    <select
                                        id="{{ propName }}"
                                        name="{{ propName }}"
                                        class="form-control"
                                        v-model="newPayment.helloassoId"
                                        :disabled="refreshing"
                                    >
                                        <option value='' :selected="!newPayment.helloassoId">{{ _t('BAZ_CHOISIR') }}</option>
                                        <option v-for="(name,key) in availableIds" value="key">{{"{{name}}"}}</option>
                                    </select>
                                {% endblock %}
                            {% endembed %}
                        </template>
                    </template>
                </div>
            </div>
        </div>
    </template>
    <spinner-loader v-if="isLoading" class="overlay super-overlay" :height="500"></spinner-loader>
</div>